@import url('https://fonts.googleapis.com/css2?family=Sirivennela&display=swap');

body {
  box-sizing: border-box;
  background-color: whitesmoke ;
}

.header h1 {
  font-family: "Sirivennela", sans-serif;
  font-weight: 800px;
  font-style: normal;
  color: black;
  text-align: center;
  
}

.Profile {
  width: 150px;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 100%;
  margin-bottom: 10px;
  margin-left: 550px;
}